POSTGRES_VERSION=16
CONSUL_VERSION=1.17
KEYCLOAK_VERSION=25.0.6

POSTGRES_USER=bank
POSTGRES_PASSWORD=bank
POSTGRES_DB=bank

KEYCLOAK_DB=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=keycloak

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin