<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Банк</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" rel="stylesheet">
</head>

<body class="bg-light">
<div class="alert alert-danger vstack" role="alert" th:each="error : ${errors}" th:if="${errors!=null}">
    <span th:text="${error}"/>
</div>
<div class="alert alert-success" role="alert" th:if="${info!=null}" th:text="${info}"/>
<div class="container p-2">
    <div class="row p-2">
        <div class="col">
            <div class="hstack gap-3">
                <h2>
                    <span class="badge text-bg-info text-white">Банк</span>
                </h2>
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Обо мне
                </div>
                <div class="card-body gap-3">
                    <form action="/account" method="post">
                        <div class="form-group">
                            <h6>
                                <label for="name">Фамилия Имя</label>
                            </h6>
                            <p>
                                <input class="form-control" id="name" name="name" placeholder="Иванов Иван" required
                                       th:value="${name}" type="text">
                            </p>
                        </div>
                        <div class="form-group">
                            <h6>
                                <label for="birthdate">Дата рождения</label>
                            </h6>
                            <p>
                                <input class="form-control" id="birthdate" name="birthdate" required
                                       th:value="${birthdate}" type="date">
                            </p>
                        </div>
                        <div class="form-group">
                            <h6>Сумма на счету, руб</h6>
                            <p th:text="${sum}"/>
                        </div>
                        <button class="btn btn-secondary" type="submit">Сохранить изменения</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Операции с наличными
                </div>
                <div class="card-body gap-3">
                    <form action="/cash" method="post">
                        <div class="form-group">
                            <h6>
                                <label for="cash_value">Сумма, руб.</label>
                            </h6>
                            <p>
                                <input class="form-control" id="cash_value" name="value" placeholder="100" required
                                       type="number">
                            </p>
                        </div>
                        <button class="btn btn-secondary" name="action" type="submit" value="PUT">Положить</button>
                        <button class="btn btn-secondary" name="action" type="submit" value="GET">Снять</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Переводы
                </div>
                <div class="card-body gap-3">
                    <form action="/transfer" method="post">
                        <div class="form-group">
                            <h6>
                                <label for="to_account">Кому</label>
                            </h6>
                            <p>
                                <select class="form-select" id="to_account" name="login" required>
                                    <option th:each="account : ${accounts}" th:text="${account.name}"
                                            th:value="${account.login}"/>
                                </select>
                            </p>
                        </div>
                        <div class="form-group">
                            <h6>
                                <label for="transfer_value">Сумма, руб.</label>
                            </h6>
                            <p>
                                <input class="form-control" id="transfer_value" name="value" placeholder="100"
                                       required type="text">
                            </p>
                        </div>
                        <button class="btn btn-secondary" type="submit">Перевести</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
